<div class="container" style="margin: 5%">
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div><img src="{{game.coverUrl}}"></div>
          </div> <!-- slider-product.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{game.name}}</h3>

          <dl class="item-property">
            <dt>Description</dt>
            <dd><p>{{game.longDescription}}</p></dd>
          </dl>

          <dl class="param param-feature">
            <dt>Platform</dt>
            <dd>{{game.platform.name}}</dd>
          </dl>  <!-- item-property-hor .// -->

          <dl class="param param-feature">
            <dt>Ranking</dt>
            <dd>{{game.ranking}}</dd>
          </dl>  <!-- item-property-hor .// -->

          <hr>
          <a class="btn btn-lg btn-primary text-uppercase" (click)="addGameToLibrary()"> Add to library </a>
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->


</div>
<!--container.//-->
