<div class="my-auto align m-5" >

<div class="container py-2 mt-5" >
  <h3 class="mt-0 font-weight-bold mb-2 text-center">Games In {{offer.accountName}}'s Offer</h3>
  <div class="row mt-3" style="max-height: 20rem; min-height: 20rem; overflow-y: scroll">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow" *ngFor="let game of offer.games">

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <img src="{{game.coverUrl}}" style="min-width: 10rem; max-width: 10rem"
                 alt="Generic placeholder image" width="200" class="mx-lg-3 order-2 order-lg-1">
            <div class="media-body order-2 order-lg-1">
              <a href="/game-details/{{game.id}}" style="color: inherit"><h5 class="mt-0 font-weight-bold mb-2">{{game.name}}</h5></a>
              <p class="font-italic text-muted mb-0 small">{{game.longDescription}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">Rating: {{game.ranking}}</h6>
              </div>
            </div>

          </div>
          <!-- End -->
        </li>
        <!-- End -->
      </ul>
      <!-- End -->
    </div>
  </div>
</div>

<div class="container  text-center mt-1 mb-1 p-0"><i class="fa fa-exchange align-content-center fa-5x" aria-hidden="true"></i></div>

  <div class="container py-2" >
    <h3 class="mt-0 font-weight-bold mb-2 text-center">Your Games</h3>
    <div class="row mt-3" style="max-height: 20rem; min-height: 20rem; overflow-y: scroll">
      <div class="col-lg-8 mx-auto" style="margin: 5%">
        <!-- List group-->
        <ul class="list-group shadow" *ngFor="let game of userGames; let i = index;">

          <!-- list group item-->
          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <img src="{{game.coverUrl}}" style="min-width: 10rem; max-width: 10rem"
                   alt="Generic placeholder image" width="200" class="mx-lg-3 order-2 order-lg-1">
              <div class="media-body order-2 order-lg-1">
                <a href="/game-details/{{game.id}}" style="color: inherit"><h5 class="mt-0 font-weight-bold mb-2">{{game.name}}</h5></a>
                <p class="font-italic text-muted mb-0 small">{{game.longDescription}}</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">Rating: {{game.ranking}}</h6>
                </div>
                  <input type="checkbox" [(ngModel)]="userGames[i].checked">
              </div>

            </div>
            <!-- End -->
          </li>
          <!-- End -->
        </ul>
        <!-- End -->
      </div>
    </div>
  </div>
    <div class="form-group container py-2">
      <label for="exampleFormControlTextarea1">Commentary</label>
      <textarea class="form-control" [(ngModel)]="exchangeOffer.commentary" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  <div class="container  text-center mt-1 mb-1 p-0"><button type="button" class="btn btn-success" (click)="sendExchangeOffer()">Exchange</button></div>
  </div>
