<div id="user-details" style="margin: 5%;">

  <div class="card" style="width: 18rem;  display: inline-block; float: left; margin-right: 5%">
    <img class="card-img-top" src="{{profileImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{account.name}} {{account.surname}}</h5>
      <p class="card-text">{{account.email}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <h5 class="card-title">Login</h5>
      <li class="list-group-item">{{account.login}}</li>
      <h5 class="card-title">Email</h5>
      <li class="list-group-item">{{account.email}}</li>
    </ul>
<!--    <div class="card-body">-->
<!--      <a href="#" class="card-link">Card link</a>-->
<!--      <a href="#" class="card-link">Another link</a>-->
<!--    </div>-->
  </div>

  <div class="list-group" style=" display: inline-block; float: left; margin-left: 5%">
    <a href="/library" class="list-group-item list-group-item-action"> User games library </a>
  </div>

</div>
